<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="middle">
        <h1 class="date"><%- mnt %></h1>
        <h1 class="day"><%- day %></h1>
        <div class="scrollable">
            <% tasks.forEach((element) => { %>
                <% if (element.TaskType === "reminder") { %>

                    <h1 class="titles" style="background-color:RGB(101, 105, 83);  color:rgb(239, 215, 1);"><%= index  %>.<%= element.title %></h1>
                <% } %>
                <% if (element.TaskType === "simpleTask") { %>
                    <h1 class="titles" ><%= index  %>.<%= element.title %></h1>
                <% } %>
                <% if (element.TaskType === "complexTask") { %>
                    <h1 class="titles" style="background-color:rgb(204, 102, 51) ;   color:rgb(239, 215, 1);"><%= index  %>.<%= element.title %></h1>
                <% } %>
                <% index += 1 %>
            <% }) %>
        </div>
        <br>
        <div class="addTask">
            <a href='/new'><button class="btn">+</button></a>
        </div>
    </div>
    <br>
    
</body>
</html>